html, body{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: hsl(210, 46%, 95%);
}

img{
    display: inline-block;
    margin-right: 17px;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}


p{
    margin:0 0;
    font-size: 13px;
}

.avatar{
    display: block;
    height: max-content;
}

.avatar p{
    margin: 0;
    font-size: 16px;
}

.avatar-p-box{
    display: inline-block;
}

.avatar-name{
}

.verified-graduate{

}


.avatar-img{
    display: inline;
    vertical-align: sub;
}

.container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 17vw);
    grid-auto-rows: minmax(30vh, auto);
}

.box{
    border-radius: 11px;
    padding: 1.6em;
}

.box1{
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: hsl(263, 55%, 52%);
}

.box2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: hsl(217, 19%, 35%);
}

.box3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: hsl(0, 0%, 100%);
}

.box4{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: hsl(219, 29%, 14%);
}

.box5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: hsl(0, 0%, 100%);
}

